<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    
    <title>Codebin</title>
</head>
<body>
    <form action="/save" method="POST">
        <%- include("_buttons.ejs", {canSave: true}) %> 
        <div class="wrapper">
            <div class="line-numbers">
                &gt;
            </div>
            <textarea name="value" id="" cols="30" rows="3" autofocus><%= locals.value %> </textarea>
        </div>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/5.0.1/autosize.min.js" integrity="sha512-aBxhlAogg9r6Gtes+dsuqW6IQ4Ee0MtjexckbMNOVdxAfi5NSEd38BNEgFiaBWS6cl67r+8OImzxVKDdmswhnA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>autosize(document.querySelector('textarea'));</script>
</body>
</html>